{# Это код файла templates/users/login.html#}

{% extends 'users/base_users.html' %}
{% block title %}Войти{% endblock %}
{% block card_header %}Войти на сайт{% endblock card_header %}
{% block card_body %}
  {% include 'users/form_errors.html' %}

  <form method="post"
    {% if action_url %}
      action="{% url action_url %}"
    {% endif %}
  >
  {% csrf_token %}

  {% include 'users/form.html' %}
  <div class="col-md-6 offset-md-4">
    <button type="submit" class="btn btn-primary">
      Войти
    </button>
    <a href="{% url 'users:password_reset_form' %}" class="btn btn-link">
      Забыли пароль?
    </a>
  </div>
{% endblock card_body %}