{# Это код файла templates/users/password_change_form.html #}
{% extends 'users/base_users.html' %}

{% block title %}Изменение пароля{% endblock %}
{% block card_header %}Изменить пароль{% endblock card_header %}
{% block card_body %}
  {% include 'users/form_errors.html' %}

  <form method="post" action="{% url 'users:password_change_form' %}">
  {% csrf_token %}

  {% include 'users/form.html' %}
  <div class="col-md-6 offset-md-4">
    <button type="submit" class="btn btn-primary">
      Изменить пароль
    </button>
  </div>
{% endblock card_body %}