{# Это код файла templates/users/password_reset_confirm.html #}

{% extends 'users\base_users.html' %}

{% block title %}Новый пароль{% endblock %}

{% block card_header %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    Ошибка
  {% endif %}
{% endblock card_header %}
{% block card_body %}
  {% if validlink %}
    {% include 'users/form_errors.html' %}
    
    <form method="post" action="">
    {% csrf_token %}
    
    {% include 'users/form.html' %}
    <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
        Сбросить пароль
        </button>
    </div>
  {% else %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endif %}
{% endblock card_body %}