{# Это код файла templates/users/password_reset_form.html #}

{% extends 'users\base_users.html' %}

{% block title %}Сброс пароля{% endblock %}
{% block card_header %}
    Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
{% endblock card_header %}
{% block card_body %}
  {% include 'users/form_errors.html' %}

  <form method="post" action="{% url 'users:password_reset_form' %}">
  {% csrf_token %}

  {% include 'users/form.html' %}
  <div class="col-md-6 offset-md-4">
    <button type="submit" class="btn btn-primary">
      Сбросить пароль
    </button>
  </div>
{% endblock card_body %}